body {
  background-color: lightgray;
  font-family: sans-serif;
}

main {
  margin: 30px 40px;
  border: 10px solid black;
  border-radius: 25px;
  background-color: white;
  padding: 20px 50px;
  -webkit-box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.5);
}

header {
  border-bottom: 2px solid black;
}

header h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 5em;
  margin: 0px;
}

ul {
   margin: 10px 0px;
}

.funFacts span {
  color: DeepPink;
  font-weight: bold;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}
